{% extends 'base.html.twig' %}

{% block title %}Wild Series{% endblock %}

{% block body %}
    {# {% include "base.html.twig" %} #}
    <h1> index</h1>
    <img src="{{ asset('images/2.png') }}" alt="" />
{% endblock %}